body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
}

.content-wrapper {
  width: 980px;
  margin: auto;
  position: relative;
  /*background-color: #F9F9F9;*/
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
}

/** nav bar **/

.nav-bar {
  width: 100%;
  position: relative;
  /*background-color: #F9F9F9;*/
  /*border-bottom: 1px solid #bdbdbd;*/
}

.nav-bar-contents {
  width: 1000px;
  margin: auto;
  position: relative;
}
/*
.nav-bar .logo {
  display: inline-block;
}

.nav-bar .logo img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}*/

.nav-bar .title {
  /*display: inline-block;*/
  font-size: 30px;
/*  position: center;*/
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

#football {
  color: #514A9D;
  font-weight: bold;
}

#scorePredicator {
  color: #3E3E3E;
  font-weight: lighter;
}

/*.nav-bar .checkout {
  position: absolute;
  font-size: 20px;
  right: 42px;
  top: 5px;
  background-color: #CC4A14;
  border-radius: 5px;
  padding: 5px;
}

.nav-bar .checkout a {
  color: white;
}*/

.nav-bar .user-info {
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav-bar .user-info img {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 30px;
}

.nav-bar .user-info .user img {
  width: 30px;
  border-radius: 5px;
}

/*other stuff*/
.center-block {
  float:none
}

.grad {
  background: #514A9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #514A9D, #24C6DC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#514A9D, #24C6DC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #514A9D, #24C6DC); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #514A9D, #24C6DC); /* Standard syntax */
}
/*https://uigradients.com/#AquaMarine*/

.team {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  
  max-width: 100px;
  max-height: 100px;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#vs {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 10%;
        float: left;
    }
}

.choosePlayers {
  border-width: 5px;
  border-color: #24C6DC;
  border-style: solid; 
  color: #24C6DC;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none;
}

.iconBorder {
  border-width: 5px;
  border-color: #000000;
  border-style: solid; 
}