body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', sans-serif;
}

.content-wrapper {
  width: 980px;
  margin: auto;
  position: relative;
  /*background-color: #F9F9F9;*/
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
}

/** nav bar **/

.nav-bar {
  width: 100%;
  position: relative;
  /*background-color: #F9F9F9;*/
  /*border-bottom: 1px solid #bdbdbd;*/
}

.nav-bar-contents {
  width: 1000px;
  margin: auto;
  position: relative;
}
/*
.nav-bar .logo {
  display: inline-block;
}

.nav-bar .logo img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}*/

.nav-bar .title {
  /*display: inline-block;*/
  font-size: 30px;
/*  position: center;*/
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

#football {
  color: #5691c8;
  font-weight: bold;
}

#scorePredicator {
  color: #3E3E3E;
  font-weight: lighter;
}

/*.nav-bar .checkout {
  position: absolute;
  font-size: 20px;
  right: 42px;
  top: 5px;
  background-color: #CC4A14;
  border-radius: 5px;
  padding: 5px;
}

.nav-bar .checkout a {
  color: white;
}*/

.nav-bar .user-info {
  position: absolute;
  right: 0px;
  top: 0px;
}

.nav-bar .user-info img {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 30px;
}

.nav-bar .user-info .user img {
  width: 30px;
  border-radius: 5px;
}

/*other stuff*/
.center-block {
  float:none
}

/*.grad {
  background: #514A9D; /* For browsers that do not support gradients 
  background: -webkit-linear-gradient( #514A9D, #24C6DC); /* For Safari 5.1 to 6.0 
  background: -o-linear-gradient(#514A9D, #24C6DC); /* For Opera 11.1 to 12.0 
  background: -moz-linear-gradient( #514A9D, #24C6DC); /* For Firefox 3.6 to 15 
  background: linear-gradient( #514A9D, #24C6DC); /* Standard syntax 
}*/
/*https://uigradients.com/#AquaMarine*/

.grad {
  background: #457fca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #457fca, #5691c8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#457fca, #5691c8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #457fca, #5691c8); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #457fca, #5691c8); /* Standard syntax */
}

.team {
  border-width: 5px;
  border-color: white;
  border-style: solid;
  
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  
  max-width: 100px;
  max-height: 100px;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#vs {
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 10%;
        float: left;
    }
}

.choosePlayers {
  border-width: 5px;
  border-color: #5691c8;
  border-style: solid; 
  color: #5691c8;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none;
}

.iconBorder {
  border-width: 5px;
  border-color: #000000;
  border-style: solid; 
}

#score {
  border-width: 5px;
  border-color: black;
  border-style: solid; 
  font-size: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}