<uib-accordion ng-show="show_choosePlayers1">
<div uib-accordion-group is-open="status.open" class="choosePlayers">
      <uib-accordion-heading>
        Choose Players for {{team1_name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      Player 1
      Player 2
    </div>
</uib-accordion>

<uib-accordion ng-show="show_choosePlayers2">
<div uib-accordion-group is-open="status.open" class="choosePlayers">
      <uib-accordion-heading>
        Choose Players for {{team2_name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      Player 1
      Player 2
    </div>
</uib-accordion>