    <div class="col-md-12">
    <div style="text-align: center;">
      <button id="myBtn">Instructions</button>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>How to use ?</h2>
        <ul>
        <li>Step 1: Drag your teams to the box. Home team on the left and away on the right !</li>
        <li>Step 2: Choose the main-11 squads using the dropdowns. The previous games main-11 has been preselcted for you.</li>
        <li>Step 3:Click on calculate score :) </li>
        </ul>
      </div>
    </div>
    </div>



<div class="col-md-6">
<br>
  <uib-accordion>
    <div uib-accordion-group is-open="status.open1" class="choosePlayers" ng-if="show_choosePlayers1">
      <uib-accordion-heading>
        <span style="color:black;"> Choose Players for {{team1_name}} </span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
      </uib-accordion-heading>
      <h5>players selected: {{selectedPlayers1}}</h5>
      <div class="choosePlayers" style="overflow-y: scroll; height:300px;">
        <ul class="list-group">
    		  <li class="list-group-item" ng-repeat="player in team1_players">
    		  	<label><input ng-model="player.selected" ng-disabled="disableSelection1 && !player.selected" type="checkbox"> <span style="color:black;">{{player.name}}</span></label>
    		  </li>
  		  </ul>
      </div>
    </div>
  </uib-accordion>
</div>

<div class="col-md-6">
<br>
  <uib-accordion>
      <div uib-accordion-group is-open="status.open2" class="choosePlayers" ng-if="show_choosePlayers2">
        <uib-accordion-heading>
          <span style="color:black;">Choose Players for {{team2_name}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
        </uib-accordion-heading>
        <h5>players selected: {{selectedPlayers2}}</h5>
        <div class="choosePlayers" style="overflow-y: scroll; height:300px;">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="player in team2_players">
              <label><input ng-model="player.selected" ng-disabled="disableSelection2 && !player.selected" type="checkbox"> <span style="color:black;">{{player.name}}</span></label>
            </li>
          </ul>
        </div>
      </div>
  </uib-accordion>
</div>

<div class="col-md-6 col-md-offset-3" ng-if="team1.filled && team2.filled" style="text-align: center; display: inline-block;">
  <button type="button" class="btn btn-default btn-lg" style="min-width: 300px;" ng-click="calculateScore();">
    Calculate Score
  </button>
</div>



<div id="score" ng-if="scoreCalculated" class="col-md-12" style="text-align: center; margin-top: 20px;" >
  {{score}}
</div>