<uib-accordion ng-show="show_choosePlayer1">
<div uib-accordion-group is-open="status.open" class="choosePlayer">
      <uib-accordion-heading>
        Choose Player for Team 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      Player 1
      Player 2
    </div>
</uib-accordion>

<uib-accordion ng-show="show_choosePlayer2">
<div uib-accordion-group is-open="status.open" class="choosePlayer">
      <uib-accordion-heading>
        Choose Player for Team 2 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      Player 1
      Player 2
    </div>
</uib-accordion>