<div class="row" style="margin: 20px; ">
	<div class="col-md-6 col-md-offset-3 grad" style="height: 200px;">
		<div class="col-xs-6 col-sm-4" style="height: 200px;">
			<div id="team1" 
			     class="team center-block"
			     drop-container
			     drop-accepts="($dragData.team_name!=team1.name) && ($dragData.team_name!=team2.name)"
			     on-drag-enter="appendTeam1($dragData)"
			     style="position: absolute;"> 
				+
			</div>
		</div>
		<div id="vs" class="col-xs-6 col-sm-4" style="height: 200px;">
			VS
		</div>
		<div class="col-xs-6 col-sm-4" style="height: 200px;">
			<div id="team2" 
			     class="team center-block"
			     drop-container
			     drop-accepts="($dragData.team_name!=team1.name) && ($dragData.team_name!=team2.name)"
			     on-drag-enter="appendTeam2($dragData)"
			     style="position: absolute;">
				+
			</div>
		</div>
	</div>
</div>

<div class="row col-md-6 col-md-offset-3">
	<choose-players></choose-players>
</div>

<div class="container-fluid" style="padding-top: 30px;">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-5ths center-block iconBorder" ng-repeat="(name,icon) in team_icons" drag-container="true"
  				 drag-data="{team_name: name, team_img: icon}" style="margin:5px; padding: 5px; max-width: 100px;">
		<!-- <div drag-container="true"
  				 drag-data="model"
  				 ng-style="{'background-image': 'url(/icons/{{icon}})'}"> -->
			<img class="img-responsive" 
			     alt="Responsive image" 
			     ng-src="/icons/{{icon}}" >
		</div>
	</div>
</div>

