<div class="row" style="margin: 20px; ">
	<div class="col-md-6 center-block grad" style="height: 200px;">
		<div class="col-xs-6 col-sm-4" style="height: 200px;">
			<div id="team1" 
			     class="team center-block"
			     drop-container
			     drop-accepts="($dragData!=team1.img) && ($dragData!=team2.img)"
			     on-drag-enter="appendTeam1($dragData)"> 
				+
			</div>
		</div>
		<div id="vs" class="col-xs-6 col-sm-4" style="height: 200px;">
			VS
		</div>
		<div class="col-xs-6 col-sm-4" style="height: 200px;">
			<div id="team2" 
			     class="team center-block"
			     drop-container
			     drop-accepts="($dragData!=team1.img) && ($dragData!=team2.img)"
			     on-drag-enter="appendTeam2($dragData)">
				+
			</div>
		</div>
	</div>
</div>

<div class="col-md-6 center-block">
	<choose-player></choose-player>
</div>

<div class="col-md-6 center-block" ng-show="team1.filled && team2.filled" style="text-align: center;">
	<button type="button" class="btn btn-default btn-lg" style="min-width: 300px;">
	  Calculate Score
	</button>
</div>

<div class="container-fluid" style="padding-top: 50px;">
	<div class="col-md-10 center-block">
		<div class="col-md-5ths" ng-repeat="(name,icon) in team_icons">
		<div drag-container="true"
  				 drag-data="icon">
		<!-- <div drag-container="true"
  				 drag-data="model"
  				 ng-style="{'background-image': 'url(/icons/{{icon}})'}"> -->
			<img class="img-responsive .center-block" 
			     alt="Responsive image" 
			     ng-src="/icons/{{icon}}" 
			     style="max-width: 100px; max-height: 100px; margin-bottom: 20px;"
			     >
                 <!-- on-drag-start="ctl.handleDragStart($event, $dragData)"
                 on-drag-end="ctl.handleDragEnd($event, $dragData)"> -->
        </div>
		</div>
	</div>
</div>